/*Common*/

.form-control {
    resize: vertical;
}


/*END Common*/


/*Email lists*/


/*Forms*/

.with-collapse .box-body {
    display: none;
}


/*END Forms*/


/*END Email List*/


/*Alerts*/

.alert-section {
    position: fixed;
    right: 10px;
    bottom: 0;
    width: 300px;
    z-index: 100;
}

.alert-section .alert {
    display: none;
    right: 10px; 
    bottom: 0;
}


/*END Alerts*/


/* Product */

.products-btn {
    margin-top: 6px;
    margin-right: 10px;
}


/* END Products */
